{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Better BeSocial network">
    <meta name="keywords" content="social,friends,chat,HTML,RestAPI,exam">
    <meta name="author" content="Better BeSocial">
    <link rel="stylesheet" type="text/css" href="/static/css/besocial.css">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
